*{
    padding: 0;
    margin: 0 auto;
    text-decoration: none;
    box-sizing: border-box;
}

@media (max-widgt: 767px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
}

body {
    background-color: #FFF5DF;
    background-image: url('../imagens/padrao1.png');
    background-repeat: repeat;
    width: 100vw;
    background-size: 100vw;
}

@font-face {
    font-family: 'xilosa';
    src: url('../fontes/xilosa_.ttf') format('truetype');
    font-weight: normal;
    font-size: normal;
}

h1 {
    font-family: 'Xilosa', sans-serif;
    font-size: 300%;
    text-align: center; /* Centraliza o texto (opcional) */
}

h2 {
    font-family: 'Xilosa', sans-serif;
    font-size: 90%;
<<<<<<< HEAD
    text-align: center; 
=======
    text-align: right; 
>>>>>>> c4c3a09ffb1cc6781dec0ed897ec43f523f07d8b
    margin: 20px;
    width: 40%;
}

h3 {
    color: #FFF5DF;
    background-color: #1E1E1E;
    font-size: 50px;
    font-family: 'xilosa';
    text-align: center;
    padding: 10px;
}

<<<<<<< HEAD
h4 {
    font-family: 'Xilosa', sans-serif;
    font-size: 90%;
    text-align: center; 
    margin: 20px;
    width: 40%;
}

p {
    font-family: 'Xilosa', sans-serif;
    font-size: 100%;
    text-align: center; 
    margin: 20px;
}
=======

>>>>>>> c4c3a09ffb1cc6781dec0ed897ec43f523f07d8b
.app-header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 0 0 5px 5px;
    border-color: white;
    color: antiquewhite;
}

.header-left{
    margin-left: 10px;
    font-size: 20px;
    padding: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.menu-hamburguer {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.menu-icon {
    width: 100%;
    height: 100%;
}

/* Estilo do menu que fica escondido */
.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0px;
    background-color: #1E1E1E;
    padding: 10px;
    border-radius: 5px;
    border-color: white;
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin: 5px 0;
}

/* Exibe o menu quando a classe 'show' é adicionada */
.menu.show {
    display: block;
}

.centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
<<<<<<< HEAD
    margin: 10px; 
    padding: 10px;
=======
>>>>>>> c4c3a09ffb1cc6781dec0ed897ec43f523f07d8b
}


.logo-container {
    background-color: #1E1E1E; /* Retângulo preto */
    display: flex; /* Usar Flexbox para alinhar */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 200px; /* Altura do retângulo */
  }
  
  .logo-container img {
<<<<<<< HEAD
    max-width: 100px; 
    margin: 0 30px;
  }

  .centralizado div {
    text-align: center; 
    margin: 10px;
}

.centralizado img {
    margin-bottom: -25px; 
=======
    max-width: 100px; /* Tamanho máximo das logos */
    margin: 0 30px; /* Espaçamento entre as logos */
  }

  .centralizado div {
    text-align: center; /* Centraliza imagem e texto */
    margin: 10px; /* Ajusta o espaço entre os blocos */
}

.centralizado img {
    margin-bottom: -25px; /* Reduz o espaço entre imagem e texto */
>>>>>>> c4c3a09ffb1cc6781dec0ed897ec43f523f07d8b
}


